{% extends 'mainapp/base.html' %}

{% load static %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block container %}

    {% include 'mainapp/inc/inc__main_menu.html' %}

    <main>
      <h2 id="home">Каталог</h2>
      <a href="catalog/companion_mg.html">
          <img src="{% static 'img/companion_mg.jpg' %}" alt="Нет картинки" width="50px">
      </a>
      <br>
       <a href="catalog/companion_mg.html">Morakniv Companion MG</a>
       <br>
       <a href="catalog/tramp3x3.html">
       <img src="{% static 'img/tramp3x3.jpg' %}" alt="Нет картинки" width="50px">
          </a>
       <br>
       <a href="catalog/tramp3x3.html">Тент Tramp 3x3</a>
       <a href="#home">Вверх</a>
   </main>

{% endblock %}

